Brotli==1.1.0
cairocffi==1.7.1
CairoSVG==2.7.1
cffi==1.17.1
chardet==5.2.0
colorama==0.4.6
cssselect2==0.7.0
defusedxml==0.7.1
fonttools==4.56.0
html5lib==1.1
loguru==0.7.3
lxml==5.3.1
pdfkit==1.0.0
pillow==10.4.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.16.0
python-dotenv==1.0.1
reportlab==4.3.1
six==1.17.0
tinycss2==1.4.0
WeasyPrint==52.1
webencodings==0.5.1
win32_setctime==1.2.0
zopfli==0.2.3.post1
